<%
  var icon = _.template(require('../components/icon.html').default)
  var loader = _.template(require('../components/loader.html').default)({icon})
  var picture = _.template(require('../components/picture.html').default)
  var loader = _.template(require('../components/loader.html').default)({icon})
%>

<dialog class="w-full max-w-3xl px-5 py-10 text-black bg-white dark:bg-black dark:text-white rounded-xl">
  <div class="flex flex-wrap items-center justify-between gap-5" data-filtering="calendar">
    <div class="relative">
      <%= loader %>
      <div class="relative" id="calendar"></div>
    </div>
    <div class="w-full md:w-1/2">
      <% _.forEach((['date-5-1', 'date-7-1', 'date-10-2']), (item) => { %>
      <div class="w-full filtering-card pack pack-md bg-gray rounded-2xl group" data-filtering-card="calendar" data-filtering-value="<%= item %>">
        <%= loader %>
        <%= picture({src: 'img/pictures/town-grey', format: 'jpg', className: 'image rounded-inherit duration-300 ease-linear group-hover:scale-110', data: null}) %>
      </div>
      <% }) %>
    </div>
  </div>
</dialog>