<%
  var icon = _.template(require('../components/icon.html').default)
  var picture = _.template(require('../components/picture.html').default)
  var error = _.template(require('../components/error.html').default)
%>

<dialog class="w-full max-w-xs px-5 py-10 text-black bg-white dark:bg-black dark:text-white rounded-xl">
  <form data-preview="avatar">
    <input type="hidden" value="Аватарка" name="theme">
    <div class="relative mb-5">
      <div class="w-1/2 mx-auto rounded-full pack pack-xl bg-primary">
        <div class="absolute inset-0 flex items-center justify-center">
          <%= icon({id: 'user', className: 'icon text-white dark:text-black text-6xl', data: null}) %>
        </div>
        <%= picture({src: '', format: '', className: 'image rounded-inherit', data: 'data-preview-image'}) %>
      </div>
      <%= error({text: 'Загрузите изображение'}) %>
    </div>
    <div class="flex flex-wrap items-center justify-between w-full gap-4">
      <label class="grow btn btn-second btn-lg btn-fill" data-preview-label data-waved="dark">
        <input class="hidden" data-preview-input type="file" name="file[]">
        Загрузить
      </label>
      <button class="grow btn btn-second btn-lg btn-fade btn-contur" data-preview-remove data-waved="light" type="button" disabled>Удалить</button>
    </div>
  </form>
</dialog>