<% if (data.status) { %>
<!-- Подвал -->

<footer class="container flex flex-col sm:flex-row sm:flex-wrap sm:justify-between gap-12 bg-white mt-auto">
  <div class="flex items-start flex-col">
    <a class="w-44 mb-12" draggable="false" href="/">
      <%= picture({src: 'img/pictures/logo', format: 'svg', className: 'block w-full', data: null}) %>
    </a>
    <span class="w-28">
      <%= picture({src: 'img/pictures/logo', format: 'png', className: 'block w-full', data: null}) %>
    </span>
  </div>
  <nav class="flex flex-col items-start gap-3">
    <% _.forEach((data.nav), (item) => { %>
    <a class="btn font-normal text-xl hover:bg-transparent after:content-auto after:absolute after:left-0 after:right-0 after:bottom-0 after:w-full after:h-1 after:invisible after:opacity-0 after:transition hover:after:opacity-100 hover:after:visible after:bg-primary py-2" data-scroll data-waved="dark" draggable="false" href="<%= item.href %>"><%= item.text %></a>
    <% }) %>
  </nav>
  <div class="flex flex-col items-start gap-5">
    <a class="flex items-center justify-center underline-offset-4 hover:underline text-lg sm:text-2xl" draggable="false" href="tel: +7 3952 78 86 36">
      <%= icon({id: 'telephone', className: 'icon text-2xl text-primary mr-5', data: null}) %>
      +7 3952 78 86 36
    </a>
    <a class="flex items-center justify-center underline-offset-4 hover:underline text-lg sm:text-2xl" draggable="false" href="mailto: sale@izta.ru">
      <%= icon({id: 'email', className: 'icon text-2xl text-primary mr-5', data: null}) %>
      sale@izta.ru
    </a>
    <div class="flex items-center justify-center text-lg sm:text-2xl">
      <%= icon({id: 'point', className: 'icon text-2xl text-primary mr-5', data: null}) %>
      <address>
        г. Иркутск, ул. Российская, <br> д. 17, 1 этаж, оф. 103
      </address>
    </div>
  </div>
</footer>

<!-- Куки -->

<section class="container fixed left-0 right-0 z-20 py-0 bottom-4" data-cookie="/" data-expires="7" id="cookie">
  <div class="bg-white shadow-md">
    <div class="flex items-start px-4 py-4 sm:py-6 flex-col lg:flex-row lg:justify-between gap-3 sm:gap-7 lg:py-8">
      <p class="text-xs sm:text-sm grow">
        Оставаясь на сайте, вы даете <a class="underline underline-offset-4" draggable="false" href="documents/cookie.docx">согласие на обработку cookie-файлов и пользовательских данных</a>, собираемых, в том числе, с использованием сервиса Яндекс Метрика, на условиях <a class="underline underline-offset-4" draggable="false" href="documents/politics.docx">Политики</a>. Если вы не хотите, чтобы ваши данные обрабатывались, измените настройки браузера или покиньте сайт.
      </p>
      <button class="btn btn-primary btn-sm sm:btn-md btn-fill btn-gradient shrink-0 text-sm sm:text-base" data-cookie-button data-waved="light">Принять</button>
    </div>
  </div>
</section>
<% } %>

</main>

</body>

</html>