@layer components {
  .container {
    --container-padding: 50px;
    --container-content: 100vw - 32px;

    padding: var(--container-padding) calc(50% - ((var(--container-content)) / 2));

    @screen sm {
      --container-padding: 60px;
      --container-sm     : calc(theme(screens.sm) - 35.98px);
      --container-content: var(--container-sm);
    }

    @screen md {
      --container-padding: 70px;
      --container-md     : calc(theme(screens.md) - 47.98px);
      --container-content: var(--container-md);
    }

    @screen lg {
      --container-padding: 80px;
      --container-lg     : calc(theme(screens.lg) - 51.98px);
      --container-content: var(--container-lg);
    }

    @screen xl {
      --container-padding: 90px;
      --container-xl     : calc(theme(screens.xl) - 29.98px);
      --container-content: var(--container-xl);
    }
  }
}