.dialog {
  @apply text-black bg-white;

  &-xs {
    width: var(--content-xs);
  }

  &-sm {
    width: var(--content-sm);
  }

  &-md {
    width: var(--content-md);
  }

  &-lg {
    width: var(--content-lg);
  }

  &-xl {
    width: var(--content-xl);
  }
}