@layer components {
  @keyframes progress {
    to {
      rotate: 360deg;
    }
  }

  @keyframes loader {
    0% {
      stroke: {
        dasharray : 1px, 200px;
        dashoffset: 0;
      }
    }

    50% {
      stroke: {
        dasharray : 100px, 200px;
        dashoffset: -15px;
      }
    }

    100% {
      stroke: {
        dasharray : 100px, 200px;
        dashoffset: -125px;
      }
    }
  }

  @keyframes preloader {

    0%,
    100% {
      opacity: 0.2;
      scale  : 0.4;
    }

    50% {
      opacity: 1;
      scale  : 1;
    }
  }

  .loader {
    @apply flex items-center justify-center absolute inset-0 text-primary pointer-events-none;

    &-progress {
      animation: progress 1800ms linear infinite;

      @apply text-4xl;
    }

    &-icon {
      animation: loader 1500ms ease-in-out infinite;
    }
  }

  .preloader {

    &::before,
    &::after {
      border-width: 12px;

      @apply content-auto absolute inset-0 rounded-inherit border-solid border-inherit;
    }

    &::before {
      animation: progress 1000ms linear infinite;

      @apply border-x-transparent;
    }

    &::after {
      animation: progress 1200ms linear infinite;

      @apply border-y-transparent;
    }

    @apply flex items-center justify-center text-primary relative bg-transparent rounded-full size-24;

    &-circle {
      animation: preloader 1200ms linear infinite;

      @apply bg-current rounded-inherit size-10;
    }
  }
}