@layer components {
  .switch {
    &:disabled {
      @apply opacity-50 pointer-events-none;
    }

    @apply flex items-center justify-center relative text-primary border border-solid border-gray select-none appearance-none cursor-pointer ease-linear duration-200;

    @media(hover) {
      &:hover {
        box-shadow: 0 0 0 4px theme("colors.gray.DEFAULT / 0.4");
      }
    }

    &-checkbox {
      &::after {
        transition: opacity 100ms linear;
        mask      : url("data:image/svg+xml,%3Csvg viewBox='0 0 12 8' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.7489 0.234315C12.0837 0.546734 12.0837 1.05327 11.7489 1.36569L4.89181 7.76569C4.55707 8.0781 4.01436 8.0781 3.67962 7.76569L0.251051 4.56569C-0.0836838 4.25327 -0.0836838 3.74673 0.251051 3.43431C0.585786 3.1219 1.1285 3.1219 1.46323 3.43431L4.28571 6.06863L10.5368 0.234315C10.8715 -0.0781049 11.4142 -0.0781049 11.7489 0.234315Z'/%3E %3C/svg%3E") no-repeat center / 1rem;

        @apply content-auto block bg-white rounded-inherit opacity-0 size-full;
      }

      @apply size-6 min-w-6 rounded-sm;

      &:checked {
        &::after {
          @apply opacity-100;
        }

        @apply bg-current border-current;
      }
    }

    &-radio {
      &::after {
        transition: opacity 100ms linear, transform 100ms linear;

        @apply content-auto block bg-current rounded-inherit scale-0 opacity-0 size-3;
      }

      @apply rounded-full size-5 min-w-5;

      &:checked {
        &::after {
          @apply scale-100 opacity-100;
        }
      }
    }

    &-toggle {
      &::after {
        @apply content-auto absolute top-0 bottom-0 rounded-full h-6 my-auto;
      }

      @apply rounded-full w-20 min-w-20 h-9;

      &:not(:checked)::after {
        transition: left 500ms ease, right 400ms ease 200ms;

        @apply left-1.5 right-12 bg-gray;
      }

      &:checked::after {
        transition: left 400ms ease 200ms, right 500ms ease, background-color 350ms ease -100ms;

        @apply right-1.5 left-12 bg-current;
      }
    }

    &-checkbox,
    &-radio {
      &::before {
        transition: opacity 300ms linear, transform 400ms linear;

        @apply content-auto absolute top-1/2 left-1/2 bg-current -translate-x-1/2 -translate-y-1/2 scale-0 invisible rounded-inherit pointer-events-none size-full;
      }

      &:checked {
        &::before {
          @apply visible opacity-0 scale-[3];
        }
      }
    }
  }
}