<%
  var data = {
    title: 'Иконки',
    status: false,
    nav: [
      {
        href: '#equipment',
        text: 'Оборудование'
      },
      {
        href: '#advantages',
        text: 'Преимущества'
      },
      {
        href: '#about',
        text: 'О компании'
      },
      {
        href: '#projects',
        text: 'Проекты'
      }
    ]
  }

  var icon = _.template(require('./components/icon.html').default)
  var picture = _.template(require('./components/picture.html').default)
  var loader = _.template(require('./components/loader.html').default)({icon})
  var preloader = require('./components/preloader.html').default
  var header = _.template(require('./includes/header.html').default)({data, icon, picture, preloader})
  var footer = _.template(require('./includes/footer.html').default)({picture, loader})
%>

<%= header %>

<!-- <%= data.title %> -->

<% var icons = ['loader', 'telephone', 'email', 'point', 'burger', 'close', 'lightning', 'shield', 'arrows', 'filter', 'sensor', 'wi-fi', 'screen', 'arrows-to', 'checkbox', 'arrow-left', 'arrow-right'] %>

<section class="container flex items-center grow">
  <ul class="grid grid-cols-2 gap-x-3 gap-y-6 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 w-full">
    <% _.forEach((icons), (item) => { %>
    <li class="flex items-center">
      <%= icon({id: item, className: 'icon text-base mr-2', data: null}) %>
      id: <%= item %>
    </li>
    <% }) %>
  </ul>
</section>

<%= footer %>