<%
  var data = {
    title: 'Темовизор',
    status: true,
    nav: [
      {
        href: '#equipment',
        text: 'Оборудование'
      },
      {
        href: '#advantages',
        text: 'Преимущества'
      },
      {
        href: '#about',
        text: 'О компании'
      },
      {
        href: '#projects',
        text: 'Проекты'
      }
    ]
  }

  var icon = _.template(require('./components/icon.html').default)
  var picture = _.template(require('./components/picture.html').default)
  var loader = _.template(require('./components/loader.html').default)({icon})
  var preloader = require('./components/preloader.html').default
  var error = _.template(require('./components/error.html').default)
  var header = _.template(require('./includes/header.html').default)({data, icon, picture, preloader})
  var footer = _.template(require('./includes/footer.html').default)({picture, loader})
%>

<%= header %>

<!-- <%= data.title %> -->

<% var primal = ['экономия <br> топлива', 'автоматизация <br> ручного труда', 'снижение аварий <br> и простоев <br class="sm:hidden"> оборудования'] %>

<section class="container flex items-end relative min-h-[700px] lg:min-h-[970px]">
  <div class="absolute inset-0 bg-gray">
    <%= loader %>
    <picture>
      <source srcset="img/pictures/primal-bg-desktop.jpg" media="(min-width: 767.98px)">
      <img class="image" draggable="false" loading="lazy" src="img/pictures/primal-bg-mobile.jpg" alt="">
    </picture>
  </div>
  <div class="relative w-full flex flex-col">
    <h1 class="font-bold text-3xl/tight sm:text-4xl/tight lg:text-5xl/tight xl:text-6xl/tight uppercase mb-10 lg:mb-20 order-1 duration-700 ease-in-out anim anim-up" data-anim>
      <span class="text-primary">Система</span> автоматизации <br class="hidden sm:block">
      и <br class="sm:hidden"> диспетчиризации <br class="hidden sm:block">
      котельных
    </h1>
    <div class="flex lg:mb-32 order-3 lg:order-2 duration-700 ease-in-out anim anim-up" data-anim>
      <button class="btn btn-primary btn-lg sm:btn-xl btn-fill btn-gradient text-lg sm:text-2.5xl px-4 sm:px-10 w-full sm:w-auto" data-waved="dark">Получить расчет стоимости</button>
    </div>
    <div class="lg:flex lg:items-end lg:justify-between lg:gap-5 order-2 lg:order-3 mb-16 lg:mb-0">
      <div class="hidden lg:block w-36 duration-700 ease-in-out anim anim-up" data-anim>
        <%= picture({src: 'img/pictures/logo', format: 'png', className: 'block w-full', data: null}) %>
      </div>
      <ul class="flex flex-col lg:flex-row lg:items-center gap-3 lg:gap-12">
        <% _.forEach((primal), (item) => { %>
        <li class="flex flex-col lg:flex-row lg:items-center gap-3 lg:gap-12 text-lg lg:text-2xl after:content-auto after:w-20 lg:after:w-1 after:h-1 lg:after:h-20 after:block after:bg-primary last:after:hidden xl:last:after:invisible duration-700 ease-in-out anim anim-up" data-anim><%= item %></li>
        <% }) %>
      </ul>
    </div>
  </div>
</section>


<%= footer %>