@use "./ui-kit/fonts";
@use "./ui-kit/basic";
@use "./ui-kit/custom";
@use "./ui-kit/waved";
@use "./ui-kit/movement";
@use "./ui-kit/inverted";
@use "./ui-kit/postcards";
@use "./ui-kit/button-glow";
@use "./ui-kit/button-bubles";
@use "./ui-kit/button-border";
@use "./ui-kit/range";
@use "./ui-kit/container";
@use "./ui-kit/card";
@use "./ui-kit/load";
@use "./ui-kit/image";
@use "./ui-kit/icon";
@use "./ui-kit/switch";
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes snowflake {
  0% {
    opacity  : 1;
    transform: translate(-50%, 0);
    filter   : hue-rotate(0deg);
  }

  100% {
    opacity  : 0;
    transform: translate(-50%, 1000%);
    filter   : hue-rotate(500deg);
  }
}

.snowflake {
  background-image: url("../img/pictures/snow.png");
  animation       : snowflake 3000ms linear both 1;

  @apply absolute bg-no-repeat bg-center bg-contain;
}

@keyframes in-shop {
  100% {
    top : -100px;
    left: 100%;
  }
}

.in-shop {
  animation: in-shop 2000ms ease both;
}

@keyframes filtering-active {
  0% {
    opacity  : 0;
    transform: translateY(50px);
  }

  100% {
    opacity  : 1;
    transform: translateY(0);
  }
}

.filtering {
  &__category.filtering-active {
    @apply text-white bg-second pointer-events-none;

    @screen md {
      @apply font-bold text-primary bg-opacity-0;
    }
  }

  &__card.filtering-active {
    animation: filtering-active 300ms ease both 1;
  }
}

@keyframes loading-player {
  100% {
    transform: rotateZ(360deg);
  }
}

.player {
  &__loading {
    animation: loading-player 1000ms steps(8) infinite;
  }
}

.scrolling {
  @screen md {
    height: var(--scroll-height);
  }

  &__image {
    @screen md {
      width    : 130%;
      height   : 130%;
      transform: translate3d(var(--scroll-moving), 0, 0);
    }
  }
}